<h2>
    List Product
</h2>

<table id="myTable" class="display">
    <thead>
       <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Images</th>
        <th>Action</th>
       </tr>
        </thead>
        <tbody>

        </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function ())
    </script>
}